body{
    background-color: rgba(255, 153, 0, 0.37);
    
}

ul{
    
    
    padding: 50px;
    width: 280px;
    float: left;
    height: 650px;
    margin: 50px;
    background-color: whitesmoke;
}
ul li{
    list-style: none;
    
}
ul li a{
    text-decoration: none;
    color: red;
    
}
ul li a:hover{
    color: blueviolet;
}

ul h1{
    color: rgb(0, 0, 0);
    border-bottom: 1px solid black;
}
